version: "3.9"

services:
  gateway:
    build: ./services/gateway
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - ai-service
      - phishing-detector

  ai-service:
    build: ./services/ai-service
    ports:
      - "8000:8000"
    env_file:
      - .env

  phishing-detector:
    build: ./services/phishing-detector
    ports:
      - "1025:1025"
      - "8001:8001"
    env_file:
      - .env